extends layout

block content
  div(class='card card-body bump-down')
    h4(class='card-title') Welcome IRDO VL Extraction System
    p(class='card-text')
      //- a.lead(href='/info') Click Me

  form-group
    label(for='faciility') Enter The name of the Facility
      input.form-control(id='facility' name='facility' type='text' placholder='Enter Facility Name')
    .br


  form-group
    label(for='patient_cccNO') Patient CCCNo
      input.form-control(id='patient_ccno' name='patient_ccno' type='patient_ccno' placholder='Enter the correct CCCNo')
    .br
    button.btn.btn-primary(type='submit') Search


  table(style='width:50%', border='1')
    tr
      th patient CCCNo.
      th VL Date
      th VL Result

 
